*{
    margin: 0px;
    border: 0px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/nunitoSans/NunitoSans-Regular.woff2') format('woff2'),
        url('fonts/nunitoSans/NunitoSans-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('fonts/Yan/Yantramanav-Regular.woff2') format('woff2'),
        url('fonts/Yan/Yantramanav-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open-Sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('fonts/Open-Sans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html{
    width: 100%;
    font-size: 16px;
}

h1{
    font-family: Yantramanav;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #00598B;
    margin-bottom: 20px;
}

h2{
    font-family: Open Sans;
    font-size: 2.5rem;
    color: #00598B;
    text-align: center;
}

h3{
    font-family: Open Sans;
    font-size: 2rem;
    color: #00598B;
}

em{
    text-decoration: underline;
    text-decoration-color: #4DBEFF;
    text-decoration-thickness: 3.5px;
}

p{
    font-family: Nunito Sans;
    font-size: 1.75rem;
}

p, h1, h2 {
    max-width: 350px;
}

.uppercase {
    text-transform: uppercase;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

.container {
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.form-container{
    margin: 30px 0px 30px 0px; 
    padding-left: 10px;
    padding-right: 10px;
}

.container-no-bottom-margin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.top-padding{
    padding-top: 30px;
}

.bottom-padding{
    padding-bottom: 30px;
}

div#skip-margin{
    margin-bottom: 15px;
}

.hero-image{
    max-width: 320px;
}

.center-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.center-text{
    text-align: center;
}

.container > h1, h2, p, img, div{
    margin-bottom: 20px;
}

.background-gray{
    background-color: #DDDDDD;
}

/* Main CTA Buttons */
    .CTA-button{
        background-color: #00598B;
        border-radius: 10px;
        border: 3px solid #00598B;
        color: white;
        text-align: center;
        width: 200px;
        padding: 5px 10px 5px 10px;
        font-family: Yantramanav;
        font-size: 1.625rem;
        font-weight: bold;
        transition: 00.5s ease-in-out;
    }

    .CTA-button:hover {
        background-color: #4DBEFF;
        border: 3px solid #4DBEFF;
    }

    .CTA-button-secondary{
        border-radius: 10px;
        border: 3px solid #4DBEFF;
        color: black;
        text-align: center;
        width: 200px;
        padding: 5px 10px 5px 10px;
        font-family: Yantramanav;
        font-size: 1.625rem;
        font-weight: bold;
        transition: 00.5s ease;
    }

    .CTA-button-secondary:hover {
        background-color: #4DBEFF;
    }

    .two-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


/*Home Page Header*/
.xIcon {
    display: none;
}
header{
        background-color: #00598B;
        padding: 5px 20px 0px 20px;
        z-index: 101;
    }

    .header-wrap{
        margin-bottom: 0;
        display: flex;
        justify-content: space-around;
    }

    img.logo{
        width: 175px;
        margin-bottom: 0;
    }

    .links{
        text-align: center;
        transform: translateY(-150%);
        transition: transform 0.4s ease;  
        position: fixed;  
        top: 52.1px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #00598B;
    }
        .links ul{
            list-style-type: none;
            padding: 0px;
        }
        .links li{
            margin-bottom: 10px;
        }
        .links li:first-of-type{
            margin-top: 10px;
            padding-top: 10px;
            border-top: 3px solid white;
        }
        .links li:last-of-type{
            padding-bottom: 10px;
            margin-bottom: 0px;
        }
        .links a{
            text-decoration: none;
            color: white;
            font-family: Nunito Sans;
            font-size: 3rem;
        }

        a{
            text-decoration: none;
            color: white;
        }

        .black-text{
            color: black;
        }

    .showMenu{
        transform: translateY(0);
    }

    /*Burger Menu CSS Section*/
    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
    .material-icons.md-48 { font-size: 36px; }
        .ham {
            background-color: #00598B;
            z-index: 99;
            }


/*Home Page Testimonial Section*/
    .testimonials{
        background-color: #DDDDDD;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .testimonial-item{
        border: 5px solid #00598B;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 300px;
    }

    .testimonial-item p{
        margin: 5px;
        font-size: 1.5rem;
        font-style: italic;
    }

    .testimonial-item:nth-child(2){
        margin-top: 25px;
        background-image: url("images/coins-mobile.jpg");
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 300px;
    }

    .testimonial-item:nth-child(3){
        margin-top: 25px;
        background-image: url("images/dillon-mobile.jpg");
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 300px;
    }

    .testimonial-item:nth-child(4){
        margin-top: 25px;
        background-image: url("images/test-three-mobile.jpg");
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 300px;
    }

    /*This moves the Company Name to be right-aligned*/
    .testimonial-item p:last-of-type{
        text-align: right;
    }
 
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    /*This gives the dots a background to match testimonial section*/
    .dots{
        background-color: #DDDDDD;
        padding-bottom: 10px;
    }
    
    .active, .dot:hover {
        background-color: #717171;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        width: auto;
        padding: 16px;
        color: #00598B;
        font-weight: bold;
        font-size: 26px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
  
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: #4DBEFF;
        color: white;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    /* Megaphone Section - Home Page */
    .megaphone{
        width: 95%;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

/* Site Footer */

Footer{
    background-color: #00598B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px 10px 20px 10px;
}

.social img{
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Services Page Starts here */

.grid-left img{
    min-width: 250px;
    max-width: 250px;
}
.grid-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-left, .grid-right{
    margin-bottom: 0px;
}

/* Styling for container section for four icons on Results page */
.icon-container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 430px;
}

.icon-item{
    border: 3px solid #00598B;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    min-width: 130px;
    margin: 0px 5px 0px 5px;
}

.icon-item img{
    width: 80px;
    margin-top: 20px;
}

.icon-item p{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#no-bottom-margin{
    margin-bottom: 0px;
}
#no-top-margin{
    margin-top: 0px;
}

/*Blog landing page*/
.blog-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-item p{
    max-width: none;
}

.blog-item img{
    width: 300px;
    border-radius: 10px;
}

/* Individual Blog Pages */
img.blog-hero{
    width: 100%;
}
.blog-wrapper h1, .blog-wrapper h2, .blog-wrapper h3{
    text-align: left;
}
.blog-wrapper h3, .blog-wrapper h2{
    width: 100%;
    margin: 0 0 20px;
}
.blog-wrapper a{
    color: #4DBEFF;
}

.blog-wrapper p{
    width: 100%;
}

.blog-wrapper a:hover{
    text-decoration: underline;
    text-decoration-color: #4DBEFF;
}
.blog-wrapper ul{
    list-style: none;
    padding: 0px;
}
.blog-wrapper a{
text-align: left;
width: 100%;
max-width: 300px;
}
.blog-wrapper a h3{
    color: #4DBEFF;
}


/* For Tablet Screens--------------------------------------------------------------------------------- */

@media only screen and (min-width: 700px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.75rem;
    }
    h3{
        font-size: 2.25rem;
    }
    h1,h2,p{
        max-width: 600px;
    }
    p{
        font-size: 2rem;
    }
    .center-text{
        text-align: center;
    }
    .CTA-button{
        font-size: 2.5rem;
        padding: 5px 30px 5px 30px;
        width: 350px;
    }
    .CTA-button-secondary{
        font-size: 2.5rem;
        padding: 5px 30px 5px 30px;
        width: 350px;
    }
    .container > h1, h2, p, img, div{
        margin-bottom: 30px;
    }
    em{
        text-decoration-thickness: 8px;
    }

    /*Testimonials*/
    .testimonial-item{
        max-width: 300px;
    }
    .testimonial-item:nth-child(2), .testimonial-item:nth-child(3), .testimonial-item:nth-child(4){
        height: 420px;
    }
    .prev,.next{
       font-size: 4rem; 
    }
    .dot{
        height: 25px;
        width: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .dots{
        padding-bottom: 25px;
        margin-bottom: 40px;
    }

    /*Header*/
    img.logo{
        width: 250px;
        padding: 15px 0px 15px 0px;
    }
    .material-icons.md-48{
        font-size: 56px;
    }
    .links{
        top: 85px;
        transform: translateY(-900px);
    }
    .links li{
        margin: 35px 0px 0px;
    }
    .links li:first-of-type{
        padding-top: 35px;
    }
    .links a{
        font-size: 2rem;
    }
    .showMenu{
        transform: translateY(0);
    }
    /*Footer*/
    footer p:first-of-type{
        padding-top: 25px;
    }
    .social img{
        width: 75px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .hero-image{
        max-width: 750px;
    }

    /*Results Page*/
    .icon-container{
        max-width: 600px;
    }
    .icon-item{
        min-width: 225px;
        max-width: 225px;
    }
    .icon-item img{
        width: 120px;
    }
    .icon-item:first-of-type{
        margin-right: 15px;
    }
    .icon-item:last-of-type{
        margin-left: 15px;
    }
    
    /*Blog landing page*/
    .blog-item img{
        width: 600px;
    }

/* Individual Blog Pages */
    img.blog-hero{
        width: 100%;
        max-width: 600px;
    }
    .blog-wrapper h3{
        max-width: 600px;
    }
    .blog-wrapper a{
        text-align: left;
        width: 100%;
        max-width: 600px;
        }

    .blog-wrapper p{
        width: 600px;
    }
}

/* Desktop - Screens larger than 1000px -------------------------------------------------------------------*/
@media only screen and (min-width: 1000px){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 75px;
    }

    .form-container{
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 75px;  
    }

    .container-no-bottom-margin{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0px;
    }
    h1{
        font-size: 3.25rem;
    }
    h1#center-text{
        text-align: center;
    } 
    h2{
        font-size: 2.8rem;
    }
    h3{
        font-size: 1.75rem;
    }
    p{
        font-size: 1.25rem;
    }
    .shadow{
        box-shadow: 0 8px 8px 2px #DDDDDD;
    }    
    .three-columns{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 10%;
        padding-right: 10%;
    }
    #width{
        width: unset;
        max-width: none;
    }

    /* Header styling for Desktop */
    header{
        padding: 5px 10% 0px 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header-wrap{
        display: flex;
        justify-content: flex-start;
        flex: 1;
    }
    img.logo{
        width: 200px;
        padding: 5px 0 5px 0;
    }
    .ham{
        display: none;
    }
    nav.links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: inherit;
        position: unset;
        top: unset;
        min-width: 500px;
        flex: 2;
    }
    header li{
         display: inline;
    }
    .links li{
        margin: 0px 5% 0px 0px;
    }
    .links ul{
        min-width: 500px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .links li:first-of-type{
        margin-top: 0px;
        border-top: 0px;
        padding-top: 0px;
    }
    .links li:last-of-type{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    /*Changing the size of the nav links*/
    a.menuLink{
        font-size: 1.25rem;
        transition: 0.2s ease-in-out;
    }
    a.menuLink:hover{
        border-bottom: solid white 3px;
    }
    
    /* Changing the Header Styling for Desktop */
    .links{
        transform: none;
        transition: none;  
        display: flex;
        flex-direction: row;
        left: 0;
        right: 0;
        bottom: 0;
        width: inherit;
        height: 50px;
        top: 0px;
    }
    header{
        margin-bottom: 75px;
    }
    /*Adjusting width and heights of hero elements*/
    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
    }
    h1, p, h2, .center-text{
        text-align: left;
        max-width: 750px;
    }
    .hero-image{
        display: flex;
        flex: 1;
        max-width: 50%;
        margin-left: 20px;
    }
    .center-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    /*Adjusting CTA Buttons for Desktop*/
    .CTA-button, .CTA-button-secondary{
        max-width: 150px;
        font-size: 1.5rem;
        padding: 5px 20px 5px 20px;
    }
    .two-buttons .CTA-button{
        margin-left: 0;
        margin-right: 25px;
    }
    /*Turning testimonial slider into static element for Desktop*/
    .prev, .next, .dot, .dots{
        display: none;
    }
    .fade{
        animation: none;
    }
    .testimonials{
        display: flex;
        justify-content: space-around;
        height: 500px;
    }
    .testimonial-item:nth-child(2), .testimonial-item:nth-child(3), .testimonial-item:nth-child(4){
        height: 300px;
    }
    .testimonial-item:hover{
        transform:translateY(-10px);
        transition: 0.5s ease;
    }
    /* Adjusting megaphone section on Home Page for Desktop */
    .megaphone{
        display: flex;
        align-self: flex-start;
        flex: 1;
    }
    .two-thirds{
        display: flex;
        flex-direction: column;
        flex: 1.5;
        align-items: center;
        margin-left: 50px;
    }
    .two-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    /* Updating Site Footer for Desktop */
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        align-content: center;
        align-items: center;
        padding: 50px 10% 50px 10%;
    }
    footer p:first-of-type{
        padding-top: 0px;
    }
    footer img{
        margin-bottom: 0px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: flex-start;
        align-content: flex-start;
        text-align: left;
        margin-bottom: 0px;
    }
    .contact p{
        margin-bottom: 0px;
    }
    .social{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0px;
    }
    /* Reduce size of social media icons in footer for Desktop */
    .social img{
        width: 50px;
    }
    /* Services Page on Desktop */
    .grid-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .grid-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid-right p{
        max-width: 600px;
    }
    .grid-right h2{
        text-align: center;
    }
    .grid-left img{
        min-width: 175px;
        max-width: 175px;
    }
    /* Overrides Container Row Status for Desktop */
    .container#vert {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 20px;
    }
    .container#vert p{
        padding-left: 10px;
        padding-right: 10px;
    }
    #desktop-flex-column{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        align-content: center;
    }
    /* Adding margins between vertical grid elements on three column layout */
    .container#vert:first-child{
        margin-right: 50px;
    }
    .container#vert:nth-child(2){
        margin-right: 50px;
    }
    h2.center-text{
        text-align: center;
    }

    /*Results Page*/
    .icon-wrapper{
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
        align-items: flex-start;
        background-color:#DDDDDD;
        margin: auto;
        margin-bottom: 75px;
        max-width: 800px;
    }
    #no-bottom-margin{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }
    #no-top-margin{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0; 
    }
    .icon-item{
        min-width: 150px;
        max-width: 150px;
        transition: 0.5s ease-in-out;
    }
    .icon-item:hover{
        transform: scale(1.15);
    }
    .icon-item:first-of-type{
        margin: 0px 15px 0px 15px;
    }
    .icon-item:last-of-type{
        margin: 0px 15px 0px 15px;
    }
    .icon-item img{
        width: 80px;
    }
    .icon-container{
        width: unset;
        justify-content: unset;
    }

    /*Blog landing page*/
    .conatiner#blog-wrapper{
        display: flex;
        justify-content: flex-start;
    }
    
    .blog-item{
        display: flex;
        flex: 1;
        align-items: flex-start;
        justify-items: center;
    }
    .container .blog-item{
        margin-left: 15px;
        margin-right: 15px;
    }

    .blog-item p{
        margin-bottom: 0px;
    }

    .blog-item h3:hover{
        text-decoration: underline;
        text-decoration-color: #4DBEFF;
        text-decoration-thickness: 5px;
    }

    .blog-item img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    /* Styling for inner blog pages on Desktop */

    .blog-wrapper .container{
        flex-direction: column;
    }

    img.blog-hero{
        max-width: 750px;
    }

    .blog-wrapper p{
        width: 750px;
    }

    .blog-wrapper h3{
       max-width: 750px;
    }

    .blog-wrapper .container:first-of-type{
        margin-bottom: 0px;
    }
    .blog-wrapper a{
        text-align: left;
        width: 100%;
        max-width: 750px;
    }
    .blog-wrapper ul{
        width: 100%;
        max-width: 750px;
    }
} 