@font-face {
    font-family: 'Yantramanav';
    src: url('Yantramanav-Regular.woff2') format('woff2'),
        url('Yantramanav-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

